{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Home Page Hero Content -->
<div class="container-fluid hero-container homepage-hero">
    <div class="opaque-overlay"></div>
    <div class="row">
        <div class="col-12">
            <div class="jumbotron text-center text-white">
                <h1 class="jumbotron-header mt-5 pt-5">Unleash Your Potential</h1>
                <h2>Browse our varied range of equipment today!</h2>
                <div class="my-5">
                    <a href="{% url 'products' %}" role="button"
                        class="btn btn-lg btn-blue text-uppercase rounded py-3">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Home Page Content -->
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 my-5">
            <div class="card text-center border-black shadow">
                <div class="card-body">
                    <a href="{% url 'products' %}?category=new">
                        <img src="https://fit-frontier.s3.eu-west-1.amazonaws.com/media/home-new-in-stock-btn-img.jpg" class="card-img-top" alt="new in stock">
                        <button class="btn btn-primary btn-blue card-title mt-4">New in Stock</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 my-5">
            <div class="card text-center border-black shadow">
                <div class="card-body">
                    <a href="{% url 'products' %}?category=on_sale">
                        <img src="https://fit-frontier.s3.eu-west-1.amazonaws.com/media/home-sale-btn-img.jpg" class="card-img-top" alt="On Sale">
                        <button class="btn btn-primary btn-blue card-title mt-4">On Sale</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 my-5">
            <div class="card text-center border-black shadow">
                <div class="card-body">
                    <a href="{% url 'products' %}?category=dumbbells">
                        <img src="https://fit-frontier.s3.eu-west-1.amazonaws.com/media/home-dumbbell-btn-img.jpg" class="card-img-top" alt="Dumbbells">
                        <button class="btn btn-primary btn-blue card-title mt-4">Dumbbells</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 my-5">
            <div class="card text-center border-black shadow">
                <div class="card-body">
                    <a href="{% url 'products' %}?category=barbells">
                        <img src="https://fit-frontier.s3.eu-west-1.amazonaws.com/media/home-barbell-btn-img.jpg" class="card-img-top" alt="Bar Bells">
                        <button class="btn btn-primary btn-blue card-title mt-4">Bar Bells</button>
                        
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 my-5">
            <div class="card text-center border-black shadow">
                <div class="card-body">
                    <a href="{% url 'products' %}?category=weight_plates">
                        <img src="https://fit-frontier.s3.eu-west-1.amazonaws.com/media/home-weightplate-btn-img.jpg" class="card-img-top" alt="Weight Plates">
                        <button class="btn btn-primary btn-blue card-title mt-4">Weight Plates</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 my-5">
            <div class="card text-center border-black shadow">
                <div class="card-body">
                    <a href="{% url 'products' %}?category=kettlebells">
                        <img src="https://fit-frontier.s3.eu-west-1.amazonaws.com/media/home-kettlebell-btn-img.jpg" class="card-img-top" alt="Kettlebells">
                        <button class="btn btn-primary btn-blue card-title mt-4">Kettlebells</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}