{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid hero-container homepage-hero">
    <div class="opaque-overlay"></div>
    <div class="row">
        <div class="col-12">
            <div class="jumbotron text-center text-white">
                <h1 class="jumbotron-header">Unleash Your Potential</h1>
                <h2>Browse our varied range of equipment today!</h2>
                <div class="my-5">
                    <a href="#" role="button" class="btn btn-lg btn-blue text-uppercase rounded py-3">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}