html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #f6f1f1;
}

/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.logo-font {
  text-transform: uppercase;
}

.main-logo-link {
  width: fit-content;
}

/* Home Page & Hero Image */

.homepage-hero {
  background: url("/media/cropped-home-page-fit-frontier-img.jpg") no-repeat
    center top fixed;
}

.hero-container {
  height: 75vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.jumbotron {
  background-color: transparent;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

/* Custom Buttons */

.btn {
  font-size: 1rem;
}

.btn-blue {
  background-color: #1fb8e3;
  color: #000;
  font-weight: bold;
  border: none;
  font-size: 1rem;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
  background-color: #019bc6;
  color: #fff;
}

/* Custom colors */

.text-black {
  color: #000 !important;
}

.border-black {
  border: 1px solid #000;
}

.border-blue {
  border: 1px solid #1fb8e3;
}

.bg-orange {
  background-color: #e65a3a;
}
