html {
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #f6f1f1;
}

a:hover,
a:focus,
a:active {
    color: #019bc6;
}

/* from Bulma */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

/* Site logo name */

#site-name {
    font-weight: bolder;
    font-family: "Rubik";
}

/* Home Page & Hero Image */

.homepage-hero {
    background: url("/media/cropped-home-page-fit-frontier-img.jpg") no-repeat center top fixed;
}

#on-sale {
    background-image: url("/media/home-new-in-stock-btn-img.jpg");
}

.hero-container {
    height: 75vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.jumbotron {
    background-color: transparent;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

/* Custom Buttons */

.btn {
    font-size: 1rem;
}

.btn-blue {
    background-color: #1fb8e3;
    color: #000;
    font-weight: bold;
    border: none;
    font-size: 1rem;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
    background-color: #019bc6;
    color: #fff;
}

/* Custom colors */

.text-black {
    color: #000;
}

.text-blue {
    color: #1fb8e3;
}

.border-black {
    border: 1px solid #000;
}

.border-blue {
    border: 1px solid #1fb8e3;
}

.bg-orange {
    background-color: #e65a3a;
}

a.category-badge>span.badge:hover {
    background: #019bc6;
    color: #fff;
}

.btn-outline-black {
    background: white;
    color: black;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white;
}

.bg-white {
    background-color: #fff;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}


/* Mailchimp */

#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 450px;
}

#mc_embed_signup > .button {
    background-color: #1fb8e3;
}

#mc_embed_signup .button:hover,
#mc_embed_signup .button:active,
#mc_embed_signup .button:focus {
    background-color: #019bc6;
    color: #fff;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* Bootstrap toasts */

.message-container { 
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */

.arrow-primary {
    border-bottom-color: #007bff;
}

.arrow-secondary {
    border-bottom-color: #6c757d;
}

.arrow-success {
    border-bottom-color: #28a745;
}

.arrow-danger {
    border-bottom-color: #dc3545;
}

.arrow-warning {
    border-bottom-color: #ffc107;
}

.arrow-info {
    border-bottom-color: #17a2b8;
}

.arrow-light {
    border-bottom-color: #f8f9fa;
}

.arrow-dark {
    border-bottom-color: #343a40;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* ------------------------ Media Queries */

/* Small screens (up to 576px wide) */
@media (max-width: 576px) {
    /* Define styles for small screens here */
    .container {
      /* Example styles for small screens */
      width: 100%;
    }
    /* Add more styles as needed */
  }

/* Large screens (greater than 991px wide) */
@media (min-width: 992px) {
    /* Navbar styles for large screens */
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
    }

    /* Adjust header container padding */
    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    /* Adjust header container padding */
    .header-container {
        padding-top: 116px;
    }

    /* Adjust body height for mobile */
    body {
        height: calc(100vh - 116px);
    }
}

/* A slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}