<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- Home -->
        <li class="nav-item">
            <a href="#" class="font-weight-bold text-black nav-link mx-lg-5">
                Home
            </a>
        </li>
        <!-- Shop Dropdown -->
        <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle font-weight-bold text-black nav-link mx-lg-5" id="shop-link"
                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop
            </a>
            <div class="dropdown-menu text-md-left border-0" aria-labelledby="shop-link">
                <a class="dropdown-item" href="">Dumbbells</a>
                <a class="dropdown-item" href="">Barbells</a>
                <a class="dropdown-item" href="">Kettle Bells</a>
                <a class="dropdown-item" href="">Weight Plates</a>
                <a class="dropdown-item" href="">New</a>
                <a class="dropdown-item" href="">On Sale</a>
            </div>
        </li>
        <!-- About -->
        <li class="nav-item">
            <a href="#" class="font-weight-bold text-black nav-link mx-lg-5">
                About
            </a>
        </li>
        <!-- Contact -->
        <li class="nav-item">
            <a href="#" class="font-weight-bold text-black nav-link mx-lg-5">
                Contact
            </a>
        </li>
    </ul>
</div>