{% extends 'base.html' %}
{% load static %}

{% block extra_title %} | Error 404 {% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 cols-sm-10 col-md-8 col-lg-6">
            <div class="card bg-white shadow rounded text-center my-4">
                <div class="card-header border-0 p-3">
                    <h1>ERROR 404</h1>
                </div>
                <div class="card-body border-0 p-3">
                    <p>Ooops! We can't find the page you are looking for!</p>
                </div>
                <div class="card-footer border-0 p-3">
                    <a href="{% url 'home' %}" class="btn btn-blue btn-lg rounded shadow" role="button">
                        Return Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}