{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
        <!-- Required meta tags -->
        <meta http-equiv="X-UA-compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <!-- Google Fonts link -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,
        400;0,700;1,400;1,700&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,
        400;1,600;1,700&display=swap">
        <!-- Bootstrap CSS ink -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- Custom CSS link -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <!-- Mailchimp Link -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">

    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <!-- Fontawesome kit script -->
        <script src="https://kit.fontawesome.com/0649e90160.js" crossorigin="anonymous"></script>
        <!-- jQuery script -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <!-- Popper and Bootstrap JS-->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>

    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Fit Frontier {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed-top">
        <div class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font my-0 text-blue" id="site-name">Fit Frontier</h2>
                </a>
            </div>
            <!-- Search Field -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border-blue rounded" type="text" name="q"
                            placeholder="Search equipments">
                        <div class="input-group-append">
                            <button class="form-control btn btn-blue border border-blue" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Account & Basket -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                            href="{%  url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        <!-- Delivery Banner -->
        <div class="row text-center bg-orange">
            <div class="col text-white">
                <p class="my-2">
                    <i class="fa-solid fa-truck" aria-hidden="true"></i>
                    <span class="text-uppercase">
                        free delivery service on orders over €{{ free_delivery_threshold }}!
                    </span>
                </p>
            </div>
        </div>

    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}


    <!-- Footer Section -->
    <footer class="container-wrapper bg-white">
        <div class="container quotes-container content-container">
            <section class="footer">
                <div class="row pt-3">
                    <div class="col-12 page-header mb-4">
                        <h2 class="text-uppercase text-center text-bold">keep up to date</h2>
                        <hr class="block-divider block-divider--short">
                    </div>
                </div>
                <!-- Email Subscription Form, Social Links, Contact Number, and Email -->
                <div class="row justify-content-center text-center">
                    <!-- Email Subscription Form -->
                    <div class="col-12 col-md-6 mx-auto">
                        <h3>Subscribe!</h3>
                        <p>Receive exclusive offers and discount codes by subscribing to our monthly newsletter
                        </p>
                        <!-- Begin Mailchimp signup form -->
                        <div id="mc_embed_shell">
                            <div id="mc_embed_signup">
                                <form
                                    action="https://yahoo.us8.list-manage.com/subscribe/post?u=4a7312fea9cb1e1130ba29f62&amp;id=ba37c443f1&amp;f_id=00057ae0f0"
                                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                    class="validate" target="_blank">
                                    <div id="mc_embed_signup_scroll">
                                        <h2>Subscribe</h2>
                                        <div class="indicates-required"><span class="asterisk">*</span>
                                            indicates
                                            required</div>
                                        <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span
                                                    class="asterisk">*</span></label><input type="email" name="EMAIL"
                                                class="required email" id="mce-EMAIL" required="" value=""><span
                                                id="mce-EMAIL-HELPERTEXT" class="helper_text"></span></div>
                                        <div id="mce-responses" class="clear foot">
                                            <div class="response" id="mce-error-response" style="display: none;"></div>
                                            <div class="response" id="mce-success-response" style="display: none;">
                                            </div>
                                        </div>
                                        <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                            <!-- Real people should not fill this in and expect good things - do not
                                            remove this or risk form bot signups -->
                                            <input type="text" name="b_4a7312fea9cb1e1130ba29f62_ba37c443f1"
                                                tabindex="-1" value="">
                                        </div>
                                        <div class="optionalParent">
                                            <div class="clear foot">
                                                <input type="submit" name="subscribe" id="mc-embedded-subscribe"
                                                    class="button" value="Subscribe">
                                                <p style="margin: 0px auto;">
                                                    <a href="http://eepurl.com/iyRK2o"
                                                        title="Mailchimp - email marketing made easy and fun">
                                                        <span
                                                            style="display: inline-block; background-color: transparent; border-radius: 4px;">
                                                            <img class="refferal_badge"
                                                                src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                                                                alt="Intuit Mailchimp"
                                                                style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;">
                                                        </span>
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Social Links -->
                    <div class="col-12 col-md-3 mx-auto">
                        <h3>Follow us on</h3>
                        <!-- This link below will contain link to Fit Frontier Facebook/Meta page -->
                        <a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <!-- This link below will contain a link to Instagram -->
                        <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                    <!-- Contact Number and Email -->
                    <div class="col-12 col-md-3 mx-auto">
                        <h3>Contact</h3>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="tel:+353851234567" target="_blank" rel="noopener"
                                    aria-label="Call me on +353 85 1234 567" class="list-group-link">+353 85
                                    1234 567
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="mailto:fitfrontierhq@email.com" target="_blank" rel="noopener"
                                    aria-label="Email us at fitfrontierhq@email.com (opens in a new tab)"
                                    class="list-group-link">fitfrontierhq@email.com
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- Copyright -->
            <div class="row">
                <div class="col">
                    <p class="copyright text-center text-muted pt-2">
                        &copy; 2023 Fit Frontier | Developed By
                        <a href=https://www.linkedin.com/in/mark-o-sullivan-592484191/ target="_blank"
                            aria-label="Website creator LinkedIn page (opens in a new tab)" class="text-black"> Mark O'Sullivan
                        </a>
                        for Code Institute's Portfolio Project 5
                    </p>
                </div>
            </div>
        </div>
    </footer>


    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}

    <!-- Mailchimp scripts -->
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js">
    </script>
    <script type="text/javascript">
        (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
    </script>

</body>

</html>